@model WMS.Models.Entities.ProductType

<div class="col-md-12">
    <form enctype="multipart/form-data" id="frmUpdate">
        <div class="row">
            <div class="col-md-12">
                <div class="form-row">
                    <input asp-for="Id" type="hidden" class="form-control" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="TypeName" class="control-label">Type Name</label>
                        <input asp-for="TypeName" class="form-control" />
                        <span asp-validation-for="TypeName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group right-align">
                    <br />
                    <br />
                    <hr />
                    <button type="button" class="btn btn-sm btn-outline-success" style="width:150px" onclick='insertRecord("Products", "EditProductType", "frmUpdate")'> <i class="zmdi zmdi-save"></i> Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" style="width:150px" onclick='closeModalCreateForm("mdlUpdateForm","UpdateForm")'><i class="zmdi zmdi-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>