@model WMS.Models.PageModels.HomeVM.HomeVM

@{
    ViewData["Title"] = "Home Page";
}


<!-- Main Content Area -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <!--end col-->
            <div class="col-md-6 col-xl-6">
                <div class="card box-margin" style="height: 120px">
                    <div class="card-body" style="padding:0px">
                        <div class="col-md-12" style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="label col-form-label-sm">ORDERS ARE PENDING TO TAKE ACTION</label>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-shopping-basket text-warning font-15 pull-right"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            @if (Model.CountOfOrderActionNeed < 2)
                            {
                                <h4 class="text-primary" style="padding-left:5px">@Model.CountOfOrderActionNeed order is waiting ... </h4>

                            }
                            else
                            {
                                <h4 class="text-primary" style="padding-left:5px">@Model.CountOfOrderActionNeed orders are waiting ... </h4>

                            }
                        </div>
                        <div class="col-md-12">
                            <a asp-action="orders" asp-controller="Orders" asp-route-orderStatus="Submitted" class="btn btn-outline-primary pull-right" style="height: 25px; width:100px; text-align:center; padding:0px"> See Orders </a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>



            <div class="col-md-6 col-xl-6">
                <div class="card box-margin" style="height: 120px">
                    <div class="card-body" style="padding:0px">
                        <div class="col-md-12" style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="label col-form-label-sm">DATE AND TIME OF THE DAY</label>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-clock-o text-warning font-15 pull-right"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <h4 class="text-primary CurrentClock" style="padding-left:5px"></h4>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>





            <div class="col-xl-6 box-margin height-card">
                <div class="card">
                    <div class="card-body">
                        @*<h4 class="card-title">Sales of Warehouses</h4>*@
                        <!--  Chart -->
                        <div class="dashboard-area">
                            <canvas id="chartOfOrdersAndReturns"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 box-margin height-card">
                <div class="card">
                    <div class="card-body">
                        <!--  Chart -->
                        <div class="dashboard-area">
                            <canvas id="stockChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 box-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Revenue</h4>
                        <div class="ecommerce-chart">
                            <div id="apex2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 box-margin height-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Loses</h4>
                


                        <div class="row px-4">
                            <div class="col-4 mt-15">
                                <h6 class="font-13 mb-1">Damages</h6>
                                <div class="d-flex align-items-center">
                                    <h5 class="mb-0">120 <small class="text-muted">25%</small></h5>
                                </div>
                            </div><!-- col -->
                            <div class="col-4 mt-15">
                                <h6 class="font-13 mb-1">Wastage</h6>
                                <div class="d-flex align-items-center">
                                    <h5 class="mb-0">987 <small class="text-muted">20%</small></h5>
                                </div>
                            </div><!-- col -->
                            <div class="col-4 mt-15">
                                <h6 class="font-13 mb-1">Spent</h6>
                                <div class="d-flex align-items-center">
                                    <h5 class="mb-0">154 <small class="text-muted">25%</small></h5>
                                </div>
                            </div><!-- col -->
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
@section Scripts{

    <script type="text/javascript">


        //This arrow function will call after page loaded.
        $(() => {
            var fetchSalesAndReturnChart = getJsonData("Orders", "GetOrdersAndReturnsChart", null, 'GET');
            var fetchStockChart = getJsonData("Products", "GetStockChart", null, 'GET');

            console.log("Stock Chart DAta...");
            console.log(fetchStockChart);

            salesAndReturnChart(fetchSalesAndReturnChart);
            stockChart(fetchStockChart);
 
        });

        function salesAndReturnChart(data) {
            var ctx = document.getElementById('chartOfOrdersAndReturns').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: data
                },
                fill: false,

                // Configuration options go here
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Order & Return of Products'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    events: ['mousemove'],
                    scales: {
                        yAxes: [{
                            stacked: false
                        }]
                    }
                }
            });
        }

        function stockChart(data) {

            var labels = data.map(function (e) {
                return e.productModel;
            });
            var quantity = data.map(function (e) {
                return e.availableQuantity;
            });

            console.log(labels);
            console.log(quantity);

            var ctx = document.getElementById('stockChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Available Quantity',
                        data: quantity,
                        backgroundColor: 'rgba(200, 0, 255, 0.3)'
                    }]
                },
                fill: false,

                // Configuration options go here
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Stock Availability'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    events: ['mousemove'],
                    scales: {
                        yAxes: [{
                            stacked: false
                        }]
                    }
                }
            });
        }


        //For showing 12 clock
        var interval = setInterval(_12Clock, 1000);
        function _12Clock() {
            var currentTime = new Date();
            const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            var date = currentTime.getDate();
            var year = currentTime.getFullYear();
            var ampm = hours >= 12 ? 'pm' : 'am';

            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = (seconds < 10 ? "0" : "") + seconds;

            var strTime = date + " " + month[currentTime.getMonth()] + " " + year + ", " + hours + ':' + minutes + ':' + seconds + ' ' + ampm;
            $(".CurrentClock").html(strTime);
        }
    </script>

}