@model WMS.Models.PageModels.WarehouseVM.ReckVM

<div class="col-md-12">
    <form enctype="multipart/form-data" id="frmCreate">
        <div class="row">
            <div class="col-md-12">

                <input type="hidden" name="Reck.WarehouseId" value="@Model.Reck.WarehouseId" />
                <input type="hidden" name="WarehouseCapacity.ReckQuantity" value="@Model.WarehouseCapacity.ReckQuantity" />
                <input type="hidden" name="Reck.SetupRow" value="@Model.Reck.SetupRow" />
                <input type="hidden" name="Reck.SetupColumn" value="@Model.Reck.SetupColumn" />

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Reck.ReckName" class="control-label">Reck Name</label>
                        <input asp-for="Reck.ReckName" class="form-control" />
                        <span asp-validation-for="Reck.ReckName" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Reck.ReckLevel" class="control-label">Reck Level</label>
                        <input asp-for="Reck.ReckLevel" class="form-control" />
                        <span asp-validation-for="Reck.ReckLevel" class="text-danger"></span>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group right-align">
                    <br />
                    <br />
                    <hr />
                    <button type="button" class="btn btn-sm btn-outline-success" style="width:150px" onclick='insertRecord("Warehouses", "CreateReck", "frmCreate")'> <i class="zmdi zmdi-save"></i> Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" style="width:150px" onclick='closeModalCreateForm("mdlCreateForm","CreateForm")'><i class="zmdi zmdi-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>